body {
/*	background-image: radial-gradient(circle at 50% -20.71%, #ffb1a7 0, #9f5b4f 50%, #442822 100%);*/
	/*background-image: url("../../static/images/Nivel-1/marca.jpeg");*/
	background-color: rgba(255, 255, 255, 0.7); /* Blanco con 30% de opacidad */
	background-blend-mode: lighten; /* O "overlay" para otros efectos */

	font-family: sans-serif;
	max-height: 97vh;
	height: 97vh;	/*	Ocupa el alto maximo disponible de la pantalla */
    max-width: 100%;
	display: flex;
	flex-direction: column;
}


/*       AAAAA     LLL        TTTTTTTTTT     AAAAA			*/
/*      AAA AAA    LLL        TTTTTTTTTT    AAA AAA			*/
/*     AAA   AAA   LLL            TT       AAA   AAA		*/
/*    AAAAAAAAAAA  LLL            TT      AAAAAAAAAAA		*/
/*    AAAAAAAAAAA  LLL            TT      AAAAAAAAAAA		*/
/*    AAA     AAA  LLLLLLLLL      TT      AAA     AAA		*/
/*    AAA     AAA  LLLLLLLLL      TT      AAA     AAA		*/
/**********************************************     Pantalla  A L T A     ******************************************** */
@media screen and (min-width: 100px) {

.titulo {
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
} 

.actual, .nueva1, .nueva2 {
	text-align: center;
}

.cambiar {
	margin-top: 20%;
	text-align: center;
}
	.cambiar input {
		font-size: 16px;
		padding: 0 15px 0;
		border-radius: 5px;
	}
} 

/*_________________________________________________________________________*/
/*                                                                         */
/*               aaa     nnn    nn  ccccccc  hh    hh     aaa              */
/*              aa aa    nn n   nn  cc       hh    hh    aa aa             */
/*             aa   aa   nn  n  nn  cc       hhhhhhhh   aaaaaaa            */
/*            aaaaaaaaa  nn   n nn  cc       hh    hh  aa     aa           */
/*            aa     aa  nn    nnn  ccccccc  hh    hh  aa     aa           */
/*_________________________________________________________________________*/
@media screen and (min-width: 992px) {

.titulo {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
} 

.actual, .nueva1, .nueva2 {
	text-align: center;
	margin-top: 50px;
}

.cambiar {
	margin-top: 70px;
	text-align: center;
}
	.cambiar input {
		font-size: 16px;
		padding: 0 15px 0;
		border-radius: 5px;
	}
} 
