<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/crud/change_password.css">
    <title>Cambiar Contraseña</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"></head>
</head>
<body>
    <h1 class="titulo">Cambiar Contraseña</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p class="actual">
            {{ form.old_password.label }}<br>
            {{ form.old_password() }}
        </p>
        <p class="nueva1">
            {{ form.new_password.label }}<br>
            {{ form.new_password() }}
        </p>
        <p class="nueva2">
            {{ form.confirm_new_password.label }}<br>
            {{ form.confirm_new_password() }}
        </p>
        <p class="cambiar"><input type="submit" value="Cambiar Contraseña"></p>
    </form>
</body>
</html>
