<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/crud/Encabezado.css">
	<title>Angelo</title>

</head>
<body>
    <header>
        <div class="header-container">
            <img src="img/nivel-1/marca-6.jpg" alt="Imagen 1" class="logo1">
            <div class="search-menu">
				<div class="marquee-container">
					<div class="marquee-text">
						¡Para el día del Padre, tenemos el mejor regalo para papá!
					</div>
				</div>
				<div class="search-bar">
					<a href="#"><img src='img/instagram.png' class='instagram1'></a>	
					<a href="#"><img src='img/facebook.png' class='facebook1'></a>
                    <input type="text" placeholder="Buscar..." class="buscar">
                    <button type="button">Buscar</button>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">INICIO</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="#">CONOCENOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
            <img src="img/nivel-1/banner 2.jpg" alt="Imagen 2" class="logo2">
        </div>
    </header>
</body>
</html>